.layuout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.prefectureList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.prefectureListItem {
  list-style: none;
  padding: 0.4rem;
}
